
$plain-font:'Helvetica Neue',Tahoma,Arial,PingFangSC-Regular,'Hiragino Sans GB','Microsoft Yahei',sans-serif;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #f5f5f5;
  color: #333;
  font-family: $plain-font;
  line-height: 1.2;
  min-height: 100%;
  user-select: none;

  /* 让字体变细一些 */
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;

  // MDN
  touch-action: manipulation;

  // 让用户点击链接时不会闪烁.
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}


img {
  width: 100%;
}


/*隐藏滚动条*/
::-webkit-scrollbar {
  width: 0;
  height: 0;
  overflow: hidden;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: white;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: white;
  -webkit-box-shadow: white;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: white;
}


